@import '/styles/setting.scss';

.frameHeader {
  background-color: var(--main-background-color);
  color: var(--main-white);
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    width: auto;
    padding: 0 2em 0 2em;

    a {
      width: auto;
      margin-right: 2em;
    }
  }
}

.frameContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 2em 0 2em;
  width: 100%;
  height: auto;
}

.containerItem {
  width: 100%;
  height: auto;
  padding: 1em 2em 1em 2em;
}

.containerRowItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20em;
  padding: 1em 2em 1em 2em;
  align-items: center;

  div {
    width: 100%;
  }

  @include laptop {
    flex-direction: row;
  }
}

.frameFooter {
  width: 100%;
  height: auto;
  margin-top: 3em;
  align-items: space-around;

  .footerList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em 2em;

    @include laptop {
      flex-direction: row;
    }
  }
}

.footerItem {
  display: flex;
  flex-direction: row;
  flex: 1 1 50%;
  flex-wrap: wrap;
  height: 300px;

  @include laptop {
    flex: 1 1 30%;
  }

  div {
    flex: 1 1 50%;
    color: var(--main-white);

    @include laptop {
      flex: 1 1 30%;
    }
  }
}

.footerItem:nth-child(1) {
  flex-grow: 1;
  background-color: rgb(120, 122, 230);

  @include tablet {
    flex-grow: 5;
  }
  @include laptop {
    flex-grow: 4;
  }
  @include desktop {
    flex-grow: 3;
  }
}
.footerItem:nth-child(2) {
  flex-grow: 1;
  background-color: rgb(42, 113, 172);
}
